

 .footer {
                                      position: fixed;
                                      left: 0;
                                      bottom: 0;
                                      width: 100%;
                                      background-color: grey;
                                      color: white;
                                    text-align:center;
 }
 
 <style type="text/css">
 .topcorner{
   position:absolute;
   top:0;
   right:0;
  }
</style>
 .topcorner{
   position:absolute;
   top:0;
   right:0;
   color:green;
  }
